.App {
  text-align: center;
  background-color: #282c34;
  background-image: url("./img/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .App {
    text-align: center;
    background-color: #282c34;
    background-image: url("./img/img1.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}